h1{
 font-size: 48px; 
 color: darkblue;
}

h2{
 font-size: 38px; 
 color: #3344CC;
}

body {
  background-color: lightblue;
  color: darkgreen;
  top:80px;
}

html {
    display: table;
    margin: auto;
}




img.mini {
    width:400px;
}

ul p {
  max-width: 600px;
}

ol.menu{
    position:absolute;
    top:40px;
    right:-120px;
}

/* On mouse-over */
ol.menu a:hover {
  color: rgb(122, 24, 24);
}

ol li{
      list-style: none;
      margin: 6px 20px;
}

ol.menu a{
    background-color: #E2E2E2;
    padding: 2px 10px;
    text-decoration:none;
    border-radius:5px;
    cursor:pointer;
}

img:hover {
  box-shadow: 0px 0px 8px 8px white;
}


a[href^="mailto:"]
{ 
  font-family: sans-serif;
  color: red;
  font-size: 11px;
}


div.main{
  position: relative;
  background: #eee;
  padding: 20px;
  box-shadow: 3px 3px 8px 8px white;
  border-radius: 10px;
}
  
  
div.topButton{
  position: fixed;
  bottom:20px;
  right:20px;
}

address{
    margin:0 0 0 50px;
}





